
<h1 align= "center"> <%= image_tag("smiley.jpg", :size => "20x20") %> Welcome to ReAcH OuT 
  <%= image_tag("smiley.jpg", :size => "20x20") %>  </h1> <br />

<h2> Sign In </h2>

<div>
  <div>
    <fieldset>
      <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.label :Email %>
        <%= f.text_field :email %>

        <%= f.label :Password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in" %>
      <% end %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </fieldset>
  </div>
</div>
