<p>
    <b>Title:</b> 

    <%= post.title %>
    <!-- <button id="but">like</button> !-->
    <%= link_to "like", post_likes_path(:post_id => post), :method => :post , :id => 'but', :remote => true %> 
    <%= link_to "Delete", post_path(post), :confirm => "Are you sure want to delete?", :method => :delete %> <br />
    Number of likes :<%= post.likes.count %>
</p>
 
<p>
    <b>Content:</b>
    <%= post.content %>
</p>
<p>
    <b>Number of comments:</b>
    <%= post.comments.count %>
</p>

<p>
  <b>Comments :</b>
  <%= render post.comments %>
</p>
<h2>Add a comment:</h2>

<%= render "comments/form", :post => post %>
